---
title: About hakobe
---
<h1>hakobe</h1>
<section>
  <h2>自己紹介</h2>
  <p>
    ソフトウェアエンジニア。大阪府出身で現在は京都府在住。アニメ、プログラミング、ときどきカメラ、囲碁。猫派。
  </p>
  <ul>
    <li><a href="https://twitter.com/hakobe">Twitter</a></li>
    <li><a href="https://www.facebook.com/hakobe">Facebook</a></li>
    <li><a href="https://plus.google.com/+YoheiFushii">Google+</a></li>
    <li><a href="https://github.com/hakobe">GitHub</a></li>
    <li><a href="http://www.flickr.com/photos/16464077@N00/">flickr</a></li>
  </ul>
</section>
